# Ignore node_modules (install them inside Docker)
node_modules

# Ignore build output and temporary files
renders
out
dist
build
.cache
tmp
*.log

# Ignore git metadata
.git
.gitignore

# Ignore env files (security)
# .env
.env.*

# Ignore Docker related files
Dockerfile
docker-compose*.yml
.dockerignore
Jenkinsfile

# Ignore IDE configs
.vscode
.idea
